*
{
    
    font-family: "Raleway",serif;
}
@font-face {
    font-family: "Raleway";
    src: url("Raleway.ttf");
}

.imgfilter
{
    display: flex;
    font-size: 5%;
}
body{
    max-width: 100%;
    margin: auto;
}
/*header*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav li{
    margin-right: 30px;
}


ul li:hover{
    border-top: #0065FC;
}

.imgfilter{
    width: 15px;
}

.button:hover{
    background-color: indianred;
}

#gps{
    width: 2%;
}

#search{
    display: flex;
}
/*main*/
.filters{
    display: flex;
    border: red solid 3px;
}


.button:hover{
    background-color: mediumslateblue;
}

#accommodation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between; /*ou space between*/
    justify-content: space-around;
    flex: 1; /*test*/
    width: 50em; /*test*/
    border-radius: 20px; /*test*/
    background-color: #F2F2F2; /*test*/

}
article #accommodation {
    border: 3px solid red;
}

#popular{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 25em;
}



.activities
{
    display: flex;
    flex-wrap: wrap;
}
#activities img
{
    width: 200px;
}
#register
{
    color: blue;

}


.a_propos
{
    text-align: left;
}

.nos_hébergements
{
    text-align: left;
}
.assistance
{
    text-align: left;
}